body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #141414;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header,h1{
    margin: 20px;
}

header p {
    font-size: 2;
    margin-top: 10px;
}

nav ul {
    
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #030109;
}

nav ul li {
    display: inline;
    margin:  25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.article {
    margin-bottom: 20px;
}

.article img {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.article h3 {
    margin: 0;
    font-size: 1.5em;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}
